@font-face {
    font-family: digial-7;
    src: url('/home/adam/.local/share/fonts/digital-7.ttf');
  }

body {
    background-color: rgb(41, 75, 111);
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.calculator {
    margin: 30px;
    padding: 20px;
    width: 350px;
    background-color: rgb(73, 85, 85);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px black solid;
}

.display {
    padding: 5px 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: darkseagreen;
    font-family: digial-7;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 2px;
    border: 1px black solid;
    line-height: 0.75;
}

.previousCalc {
    font-size: 20px;
    padding-bottom: 10px;
    color: rgb(56, 56, 56);
}

.currentCalc {
    font-size: 45px;
    padding-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    aspect-ratio: 1;
    grid-gap: 10px;
    padding: 15px
}

.deleteButton {
    grid-column: span 2;
}

.clearButton {
    grid-column: span 2;
}

[class$="Button"] {
    border-radius: 3px;
    border: 1px black solid;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
}

#equals {
    background-color: rgb(78, 200, 159);
}

#equals:hover {
    background-color: chartreuse;
}

[class$="Button"]:hover {
    background-color: chartreuse;
}

.opsButton {
    background-color: rgb(154, 182, 234);
}

